.navbar-default{
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
}
.navbar-brand2{
    font-size: 27px;
    font-weight: bold;
    color: white;
    display: block;
    width: 180px;
    margin-left: 80px;
    padding: 10Px;
    background-color: teal;
    text-align: center;
}
.navbar-header{
    color: aquamarine;
}
h1{
    color: teal;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 40PX;
}
h2{
    color: teal;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 30PX;
}
.background{
    background-color: lightgray;
}
.panel-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: dimgray;
    color: white;
    text-align: center;
    border: 0px;
    margin: 0%;
}
.panel-footer-bar{
    position: fixed;
    left: 0;
    bottom: 40px;
    width: 100%;
    height: 10px;
    border: 0px;
    margin: 0%;
    background-color: teal;
    color: white;
    text-align: center; 
}
.home_image{
    width: 50%;
    max-width: 100%;
    height: auto;
    float: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 10PX;
}
.text{
    padding: 10px;
}
.panel-body{
    padding-top: 0%;
    padding-left: 25px;
    padding-right: 25px;
}
.vis_image{
    width: 80%;
    height: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.comp_analysis{
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 30px;
}
p{
    font-family: Arial, Helvetica, sans-serif;
}
th{
    background-color: teal;
    color: white;
}
/* .table{
    padding: 50PX;
} */
.panel-body{
    padding-left: 40px;
    padding-right: 40PX;
}